<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>yike-package</string>
					<key>url</key>
					<string>http://119.3.110.76/soft/yike.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://132.232.157.23:8086/img/download/ios/ticket57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://132.232.157.23:8086/img/download/ios/ticket512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.commont.yike.project</string>
				<key>bundle-version</key>
				<string>1.1.9</string>
				<key>kind</key>
				<string>yike</string>
				<key>title</key>
				<string>易客</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
